{% extends 'myapp/base.html' %}
{% load static %}
{% block body %}
<div class="container">
       <div class="text-center ">
              <h2>Available Offers</h2>
       </div>
       <div class="border border-primary border bg-secondary ">
              {% for data in offers %}
              <div class="border-bottom border-primary p-4 d-flex justify-content-between">

                     <h5 class="text-warning">{{data.discount_title}}</h5>
                     <p class="text-warning" > Valid till {{data.end_date}}</p>
                     <p data-toggle="collapse" href="#collapseExample{{data.id}}" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="text-warning"> View T&C</p>

                     
              </div>
                     <div class="collapse border-bottom border-primary"  id="collapseExample{{data.id}}" style="font-size: 12px;">
                            <div style="width: 300px;">
                                    <p >{{data.condition|linebreaks}}</p>
                            </div>
                     </div>
              {% endfor %}
       </div>
</div>
{% endblock body %}